config:
  target: 'http://127.0.0.1:8080'
  phases:
    - name: warm-up
      duration: 20
      arrivalRate: 50

    - name: ramp-to-500
      duration: 40
      arrivalRate: 100
      rampTo: 500

    - name: ramp-to-1500
      duration: 40
      arrivalRate: 500
      rampTo: 1500

    - name: ramp-to-3000
      duration: 40
      arrivalRate: 1500
      rampTo: 3000

    - name: sustain-5k
      duration: 60
      arrivalRate: 5000

  defaults:
    headers:
      accept: application/json

  ensure:
    maxVusers: 6000

scenarios:
  - name: health-check
    flow:
      - get:
          url: "/health"
          name: "Proxy health"
